body,
html {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}
/* COLOURS */
:root {
	--rich-black: rgb(8, 7, 8);
	--dark-purple: rgb(73, 2, 131);
	--rose: rgb(247, 26, 97);
	--blue-crayola: rgb(55, 114, 255);
	--blue-crayola-pastel: rgba(55, 114, 255, 0.4);
	--sunglow: rgb(253, 202, 64);
	--light-yellow: rgb(253, 255, 141);
	--platinum: #e6e8e6;
}
.page-container {
	position: relative;
	min-height: 100vh;
	width: 100%;
}

.content-wrap {
	padding-bottom: 3rem; /* Footer height */
}
