@import url("./Base/base.css");

/* _________CONTAINERS______ */
.main-container {
	width: 100%;
	margin: auto;
}
.heading-container,
form,
.show-container {
	width: 80%;
	margin: auto;
}

.heading-container,
.show-container {
	background-color: white;
}
.show-container {
	margin-top: 20px;
	border-top: 1px solid grey;
}
form {
	min-height: fit-content;
	padding: 20px;
	background-color: var(--light-yellow);
	margin-bottom: 40px;
}
/* _____________________________ */

.heading-main {
	margin-bottom: 20px;
}

.div-height-weight {
	display: inline;
}
.div-gender {
	display: block;
	margin-bottom: 10px;
}
#height-input,
#weight-input {
	height: 3rem;
	border: none;
	outline: none;
	border-radius: 0.25rem;
	background-color: white;
	margin-bottom: 10px;
	padding-left: 10px;
}
label {
	margin-left: 10px;
	margin-bottom: 10px;
	font-weight: bold;
}
.div-btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-bmi {
	width: fit-content;
	border: none;
	outline: none;
	border-radius: 0.25rem;
	margin-top: 20px;
	background-color: var(--rose);
}
.btn-bmi-text {
	padding: 10px;
	margin: 0px;
	font-size: 22px;
	color: white;
}

.result-container {
	display: none;
}

.result-heading,
.bmi-number {
	text-align: center;
}
.results-div {
	background-color: white;
	padding: 20px;
	border-radius: 0.25rem;
}
.result-heading {
	font-size: 20px;
	font-weight: bold;
	line-height: 40px;
	margin-top: 10px;
}
.bmi-number {
	font-size: 22px;
	letter-spacing: 1px;
}
.shades-element {
	width: 100%;
	height: 1.5rem;
	z-index: 0;
	overflow: hidden;
	border-radius: 8px;
	background: linear-gradient(
		to right,
		rgb(0, 121, 199) -0.04%,
		rgb(0, 121, 199) 11.96%,
		rgb(0, 121, 61) 19.95%,
		rgb(253, 216, 52) 39.98%,
		rgb(216, 0, 19)
	);
}
.result-title-div {
	margin-bottom: 50px;
	height: fit-content;
}
.result-title-text {
	text-align: center;
	margin-top: 20px;
}

.sub-content-row {
	display: grid;
	margin-top: 1rem;
}
.icon-home {
	width: 4rem;
	height: 4rem;
	display: block;
	margin: auto;
	padding: 10px;
}
.footer {
	position: absolute !important;
}

/* MEDIA QUERIES */
@media screen and (min-width: 500px) {
	.heading-container,
	form,
	.show-container {
		width: 60%;
	}
}

@media screen and (min-width: 768px) {
	.heading-container,
	form,
	.show-container {
		width: 50%;
	}
}

@media screen and (min-width: 992px) {
	.show-container {
		width: 30%;
	}
	.heading-container,
	.show-container {
		width: 40%;
	}
	form {
		width: 25%;
	}
}
