@import url(./Base/base.css);

.main-container {
	width: 100%;
	margin: auto;
}
.heading-main {
	margin-bottom: 20px;
}
.heading-container {
	width: 80%;
	margin: auto;
}
form {
	background-color: var(--light-yellow);
	border-radius: 0.25rem;
	min-height: fit-content;
	margin: auto;
	width: 80%;
	padding: 20px;
}
.div-height-weight {
	display: inline;
}
.div-gender {
	display: block;
	margin-bottom: 10px;
}
#height-input,
#weight-input {
	height: 3rem;
	border: none;
	outline: none;
	border-radius: 0.25rem;
	background-color: white;
	margin-bottom: 10px;
	padding-left: 10px;
}
label {
	font-family: "Audiowide", cursive;
	margin-left: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid var(--sunglow);
}
.div-btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-bmi {
	width: fit-content;
	border: none;
	outline: none;
	border-radius: 0.25rem;
	margin-top: 20px;
	background-color: var(--rose);
}
.btn-bmi-text {
	padding: 10px;
	margin: 0px;
	font-size: 22px;
	letter-spacing: 2px;
	color: white;
}
.result-container {
	display: none;
}
.show-container {
	background-color: var(--light-yellow);
	border-radius: 0.25rem;
	padding: 20px;
}
.result-heading,
.bmi-number {
	text-align: center;
}
.results-div {
	background-color: white;
	padding: 20px;
	border-radius: 0.25rem;
}
.result-heading {
	font-size: 18px;
	font-weight: bold;
	line-height: 40px;
}
.bmi-number {
	font-size: 20px;
	letter-spacing: 1px;
}

.sub-content-row {
	display: grid;
	margin-top: 1rem;
}
.icon-home {
	width: 4rem;
	height: 4rem;
	display: block;
	margin: auto;
	padding: 10px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 500px) {
	form {
		width: 60%;
	}
}

@media screen and (min-width: 768px) {
	.heading-container {
		width: 50%;
	}
	form {
		width: 50%;
	}
}

@media screen and (min-width: 992px) {
	.heading-container {
		width: 40%;
	}
	form {
		width: 30%;
	}
}
