@import url(./Base/base.css);
.main-container {
	width: 100%;
	margin: auto;
}
.heading-main {
	margin-bottom: 20px;
}
.heading-container {
	width: 80%;
	margin: auto;
}

.row-btn {
	justify-content: center;
	display: grid;
}
.hide {
	display: none;
}
.dropdown-btn {
	border: none;
	padding: 10px 30px;
	border-radius: 0.25rem;
	font-size: 22px;
	background-color: var(--rose);
	color: white;
}
.icon-arrow {
	width: 18px;
	height: 15px;
	margin-left: 10px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: var(--platinum);
}
.list-item {
	background-color: var(--platinum);
	text-align: center;
}
.list-item:hover {
	background-color: white;
	cursor: pointer;
}
.conversion-container {
	background-color: var(--light-yellow);
	padding: 20px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}
.row {
	margin: 0px;
}

.column-input {
	text-align: center;
	margin: 10px;
}

#column1,
#column2 {
	/* margin-top: 20px; */
	display: flex;
}
.input-row {
	margin-top: 20px;
}
.input-number {
	background-color: white;
	height: 3rem;
	border: none;
	border-radius: 0.25rem;
	padding-left: 10px;
	width: 100%;
}

.input-label {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-weight: bold;
	height: 3rem;
}
.label1,
.label2 {
	margin-bottom: 0px;
}

.sub-content-row {
	display: grid;
	margin-top: 1rem;
}
.icon-home {
	width: 4rem;
	height: 4rem;
	display: block;
	margin: auto;
	padding: 10px;
}

/* MEDIA QUERIES */

/* MEDIA QUERIES */
@media screen and (max-width: 400px) {
	.conversion-container {
		width: 90%;
	}
}
@media screen and (min-width: 500px) {
	.conversion-container {
		width: 60%;
	}
}

@media screen and (min-width: 768px) {
	.heading-container {
		width: 50%;
	}
	.conversion-container {
		width: 50%;
	}
}

@media screen and (min-width: 992px) {
	.heading-container {
		width: 40%;
	}
	.conversion-container {
		width: 40%;
	}
}
