.main-container {
	width: 80%;
	margin: auto;
}
.heading-main {
	margin-bottom: 20px;
}

.icon-convert {
	width: 3rem;
	height: 3rem;
}

.form-container {
	background-color: var(--light-yellow);
	border-radius: 0.25rem;
	margin: auto;
}

.form {
	padding: 20px;
}
.row-buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

#btn-clear,
#btn-submit {
	background-color: rgb(155, 167, 167);
	font-size: 20px;
	letter-spacing: 2px;
}

#btn-submit {
	background-color: var(--sunglow);
	width: 50%;
	color: black;
	height: 3rem;
}
#btn-clear {
	width: 4rem;
	color: white;
	height: 2.5rem;
}

.btn-text {
	text-align: center;
	margin: 0px;
	font-weight: bold;
}

#inputPrice,
#inputPeople {
	margin-bottom: 10px;
}

.input-number {
	background-color: white;
	color: gray;
	border: none;
	height: 3rem;
	border-radius: 0.25rem;
	padding-left: 10px;
	font-size: 16px;
	width: 50%;
}
label {
	font-family: "Audiowide", cursive;
	margin-left: 10px;
	margin-bottom: 10px;
}
.container-display {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: var(--light-yellow);
	border-radius: 0.25rem;
}

.row-total {
	width: 30%;
	text-align: center;
	background-color: white;
	margin-bottom: 20px;
	border-radius: 0.25rem;
}
.total-text {
	padding-top: 10px;
}

.sub-content-row {
	display: grid;
	margin-top: 1rem;
}

.icon-home {
	width: 4rem;
	height: 4rem;
	display: block;
	margin: auto;
	padding: 10px;
}
