.body {
	font-family: "Roboto", sans-serif;
}
.form-container {
	padding: 30px;
	background-color: var(--blue-crayola-pastel);
	border-radius: 0.25rem;
	margin: 3rem;
}

.form {
	display: flex;
	flex-direction: row;
}

.col-inputs {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: 0px;
	padding: 0px;
	height: fit-content;
}
.col-buttons {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: 10px;
	padding: 10px;
	justify-content: space-around;
}
#btn-submit,
#btn-clear {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: fit-content;
	padding-top: 10px;
	padding-bottom: 10px;
}

.btn-text {
	margin: 0px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}
#inputPrice,
#inputPeople {
	margin-bottom: 10px;
}

.input-number {
	background-color: white;
	color: gray;
	border: none;
	height: 2rem;
	border-radius: 0.25rem;
	padding-left: 10px;
	font-size: 16px;
	text-transform: uppercase;
}
.container-display {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: white;
	border-radius: 0.25rem;
	margin-top: 20px;
}

.row-total {
	width: 33.3%;
	text-align: center;
}
.total-text {
	padding-top: 10px;
}

.sub-content-row {
	display: grid;
}

.icon-home {
	width: 4rem;
	height: 4rem;
	display: block;
	margin: auto;
	padding: 10px;
}
