@import url("./Base/base.css");

.main-container {
	width: 100%;
	margin: auto;
}
.heading-main {
	margin-bottom: 20px;
}
.heading-container,
.form-container,
.container-display {
	width: 80%;
	margin: auto;
}

.icon-convert {
	width: 3rem;
	height: 3rem;
}

.form-container,
.container-display {
	background-color: var(--light-yellow);
	border-radius: 0.25rem;
}

.form {
	padding: 20px;
}
.row-buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#btn-clear,
#btn-submit {
	background-color: rgb(155, 167, 167);
	font-size: 20px;
	letter-spacing: 2px;
}

#btn-submit {
	background-color: var(--rose);
	width: 50%;
	color: black;
	height: 3rem;
	font-weight: bold;
	font-size: 22px;
}
#btn-clear {
	width: 5rem;
	color: white;
	height: 3rem;
	text-transform: uppercase;
	font-size: 16px;
}

.btn-text {
	text-align: center;
	margin: 0px;
	letter-spacing: 2px;

	color: white;
}

#inputPrice,
#inputPeople {
	margin-bottom: 10px;
}
.input-number,
label {
	border: none;
	height: 3rem;
}

.input-number {
	background-color: white;
	color: gray;
	border-radius: 0.25rem;
	padding-left: 10px;
	font-size: 16px;
	width: 50%;
}
label {
	margin-left: 10px;
	font-weight: bold;
}

/* DISPLAY CONTAINER */
.container-display {
	display: grid;
	margin-bottom: 40px;
}

.row-total {
	grid-row: 1;
	text-align: center;
	background-color: white;
	margin: 10px;
	border-radius: 0.25rem;
}
.total-text {
	padding-top: 10px;
}

.sub-content-row {
	display: grid;
	margin-top: 1rem;
}

.icon-home {
	width: 4rem;
	height: 4rem;
	display: block;
	margin: auto;
	padding: 10px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 500px) {
	.form-container,
	.container-display {
		width: 60%;
	}
}

@media screen and (min-width: 768px) {
	.heading-container {
		width: 50%;
	}
	.form-container,
	.container-display {
		width: 50%;
	}
}

@media screen and (min-width: 992px) {
	.heading-container {
		width: 40%;
	}
	.form-container,
	.container-display {
		width: 30%;
	}
}
